#content img {
    width: 60%;
}

#next-btn {
    float: right;
}

.resize-img{
    width: 50%;
}

.flag-img{
    width: 20px;
}

.choice-btn{
    display: block !important;
}
/* .map-image img{
    width: auto;
} */


.highlight-red{
    color: brown;
    font-weight: bold;
}

.highlight-green{
    color: green;
    font-weight: bold;
}

.whole-line{
    display: block !important;
}