#content img {
    width: 60%;
}

#main_content{
    padding-top: 60px;
}

#next-btn {
    float: right;
}

#nav_bar{
    background-color:  sandybrown;
}

#basic-rule-btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#table-setting-btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#quiz-btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#next_but{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#next_learn_but{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#back_to_but{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#back_but{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#rule_5{
    max-width:40%;
    height:auto;
}

#back-btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#next-btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#quiz-btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#done-btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#start_btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#next_btn{
    background-color:  sandybrown;
    border-color: sandybrown;
}

#submit-btn{
    background-color: green;
    border-color: green;
}

#dne-btn{
    background-color: sandybrown;
    border-color: sandybrown;
}
.resize-img{
    width: 50%;
}

.flag-img{
    width: 20px;
}
.basic_content{
    font-size: 22px;
    padding-top: 80px;
}
#basic_image{
    margin-top: 30px;
}

#basic_rule_3{
    padding-top: 30px;
    font-size: 22px;
}

#table_image{
    margin-top: 50px;
}

#quiz_image{
    margin-top: 90px;
}

.quiz_first{
    font-size:  30px;
}

.choice-btn{
    display: block !important;
}
/* .map-image img{
    width: auto;
} */


.highlight-red{
    color: brown;
    font-weight: bold;
}

.highlight-green{
    color: green;
    font-weight: bold;
}

.whole-line{
    display: block !important;
}

.name-boxes{
    z-index: auto;
    border: 3px solid rgb(238, 137, 48);
    background-color: bisque;
    width: 360px;
}

#reaction-drag-drop{
    margin-top: 80px;
    margin-bottom: 80px;
}

.drag_drop_header{
    height:65px;
    background-color: bisque;
   
}

.ui-droppable-active.ui-droppable-hover{
    background-color: rgb(238, 137, 48);
}

#finish_title{
    display: block;
    margin-bottom: 80px;    
}