{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class = "row">
        <h1>Table Etiquette 101</h1>
        <h5>Welcome, you can learn table etiquette in 10 minutes!</h5>
    </div>
    <div class = "row">
        <div class = "col">
            <img src="../img/homepage_1.png" alt="">
            <button>Table Setting</button>
        </div>
        <div class = "col">
            <img src="../img/homepage_2.png" alt="">
            <button>Basic Rules</button>
        </div>
        <div class = "col">
            <img src="../img/homepage_3.png" alt="">
            <button>Quiz</button>
        </div>
    </div>
</div>
{% endblock %}
