{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<div class="container">
    <div class = "row">
        <h1>Table Etiquette 101</h1>
    </div>
    <div class="row">
        <h5>Welcome, you can learn table etiquette in 10 minutes!</h5>
    </div>
    <div class = "row">
        <div class = "col-md-4">
            <img src="{{url_for('static', filename='/imgs/1.png')}}" alt="Basic Rules">
            <button id="bsc-rul-btn">Basic Rules</button>
        </div>
        <div class = "col-md-4">
            <img src="{{url_for('static', filename='/imgs/2-1.png')}}" alt="Table Setting">
            <button id="tbl-set-btn">Table Setting</button>
        </div>
        <div class = "col-md-4">
            <img src="{{url_for('static', filename='/imgs/3.png')}}" alt="Quiz">
            <button id="qz-btn">Quiz</button>

        </div>
    </div>
</div>
{% endblock %}
