{% extends "layout.html" %}

{% block content %}
<script>
    let data = {{ data|tojson }}
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<div class="container">
    <div id="question" class="row justify-content-center text-center">
    </div>
    <div id="content" class="row justify-content-center text-center my-3">
    </div>
    <div id="choices" class="row justify-content-center my-3">
    </div>
    <div id="reaction" class="row justify-content-around text-center my-3">
    </div>
</div>
{% endblock %}
