{% extends "layout.html" %}

{% block content %}

<script>
    let data = {{ data|tojson }}
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_summary.js') }}"></script>

<div class="container">
    <div id="title" class="row justify-content-center text-center my-3">
        <h4>Finished!</h4>
    </div>
    <div id="content" class="row justify-content-center text-center my-3">
    </div>
    <div id="reaction" class="row justify-content-around text-center my-3">
    </div>
</div>


{% endblock %}