{% extends "layout.html" %}

{% block content %}
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-sm-auto">
            <h1 class="font-weight-bold text-center">Table Setting</h1>
            <p class="text-center">The golden rule, <span class="font-weight-bold">“Start at the Outside and Work Your Way In”</span></p>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-sm-auto">
            <button>Back</button>
        </div>
        <div class="col-sm-auto">
            <button>Next</button>
        </div>
    </div>
{% endblock %}
