{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'table_setting.js') }}"></script>
    
    <script>
        let table_setting = {{table_setting|tojson}}
        let id = {{id}}
        console.log(table_setting)
        console.log(id)
    </script>

    <div class="row justify-content-center  my-5">
        <div class="col-sm-auto">
            <h1 class="font-weight-bold text-center">{{table_setting["title"]}}</h1>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-sm-auto">
            <image src={{table_setting['image']}} alt="table-setting-image" width="500">
        </div>
    </div>
    <div class="row justify-content-around my-5">
        <div class="col-sm-auto">
            <button id="back-btn">Back</button>
        </div>
        <div class="col-sm-auto">
            <button id="next-btn">Next</button>
        </div>
    </div>
{% endblock %}
